.InputComponent {
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  height: 110%;
  width: 70%;
  background-color: #D3D3D3;
  border-style: solid;
  border-width: 3px;
  border-color: #D3D3D3;
  border-radius: 3px;
}

.resultsComponent{
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 70%;
  background-color: #D3D3D3;
  border-style: solid;
  border-width: 3px;
  border-color: #D3D3D3;
  border-radius: 3px;
}