.calculatorOuterBox {
	text-align: center;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
}
.numberButtonBox {
	margin: 10px auto 10px auto;
	width: 75%;
	border: 3px solid blue;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
}
.DisplayComponent {
	color: black;
	margin: auto;
	width: 75%;
	padding: 20px;
	height: 30px;
	font-family: 'Roboto', sans-serif;
}
.numberListComponent {
	margin: 10px auto 10px auto;
	width: 75%;
	border: 3px solid red;
	padding: 20px;
	height: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 20;
	border-radius: 10px;
}
.calculateButtonComponent {
	margin: 10px auto 10px auto;
	width: 75%;
	border: 3px solid orange;
	padding: 20px;
	height: 25px;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
}